@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner start-->
<section class="banner ">
    <div class"margin"></div>
    <!-------- don't use this html this only for margin top remove this ---------------------->
    <div class="slider-container">
        <div class="slider-control left"></div>
        <div class="slider-control right"></div>
        <!--<ul class="slider-pagi"></ul>-->
        <div class="slider">
            <div class="slide slide-0 active">
                <div class="slide__bg"></div>
                <div class="slide__content">                   
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Project name 1</h2>
                        <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur addoloremque quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
                        <a href="/Datamantra/Courses"
                           class="text-uppercase btn btn-primary btn-lg fadeInLeft activate">View Courses</a>
                    </div>
                </div>
            </div>
            <div class="slide slide-1 ">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Project name 2</h2>
                        <p class="slide__text-desc">Lorem ipsum dolor sit amet,voluptate tempore quia. tetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
                        <a href="/Datamantra/Courses"
                           class="text-uppercase btn btn-primary btn-lg fadeInLeft activate">View Courses</a>
                    </div>
                </div>
            </div>
            <div class="slide slide-2">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Project name 3</h2>
                        <p class="slide__text-desc">Lorem ipsum dolor sit amet,voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
                        <a chref="/Datamantra/Courses"
                           class="text-uppercase btn btn-primary btn-lg fadeInLeft activate">View Courses</a>
                    </div>
                </div>
            </div>
            <div class="slide slide-3">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Project name 4</h2>
                        <p class="slide__text-desc">Lorem ipsum dolor sit amet,  illo debitis ni voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
                        <a href="/Datamantra/Courses"
                           class="text-uppercase btn btn-primary btn-lg fadeInLeft activate">View Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--banner End -->
<!-- Education content start -->
<section class="education_cnt sec_pad">
    <div class="container">
        <div class="col-md-12 text-center">
            <h2>Education Businesses</h2>
            <p class="margin30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus etma enim. Donec pede justo .</p>
            <div class="education_process marginTB40">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="educat_icon">
                        <div class="round_bg">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <h3>Research</h3>
                    <p>Lorem ipsum dolor sit amet, conse quam, adipiscingconmentum tristi idem nemo minima </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="educat_icon">
                        <div class="round_bg">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <h3>Research</h3>
                    <p>Lorem ipsum dolor sit amet, conse quam, adipiscingconmentum tristi idem nemo minima </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="educat_icon">
                        <div class="round_bg">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <h3>Research</h3>
                    <p>Lorem ipsum dolor sit amet, conse quam, adipiscingconmentum tristi idem nemo minima </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="educat_icon">
                        <div class="round_bg">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <h3>Research</h3>
                    <p>Lorem ipsum dolor sit amet, conse quam, adipiscingconmentum tristi idem nemo minima </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</section>
<!--Education content end-->
<!--course content start-->
<section class="courseBg sec_pad">
    <div class="container">
        <div class="col-md-12 text-center">
            <h2>Datamantra is where you build your future. Join Us Today.</h2>
            <a href="/Datamantra/Courses" class="btn btn-primary btn-lg btn-lg-font">VIEW COURSES</a>
        </div>
    </div>
</section>
<!--course content end-->
<div class="clear"></div>
<!--Product slider start -->
<section class="sec_pad">
    <div class="container">
        <div class="">
            <div class="row marginBottom20">
                <div class="col-md-9">
                    <h3>
                        Carousel Product Cart Slider
                    </h3>
                </div>
                <div class="col-md-3">
                    <!-- Controls -->
                    <div class="pull-right hidden-xs">
                        <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                           data-slide="prev"></a>
                        <a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                                                    data-slide="next"></a>
                    </div>
                </div>
            </div>
            <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="productBox marginBottom30">
                                    <a href="course-single.html">
                                        <div class="productImage">
                                            <img alt="Product" src="ss" height="150">
                                        </div>
                                        <div class="productDescription">
                                            <h5 class="marginBottom10">Social Media Management</h5>
                                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
                                        </div>
                                    </a>
                                    <div class="productMeta">
                                        <div class="displayTableVertical">
                                            <div class="displayTableCell">
                                                <div data-rating="4" class="starrr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa-star-o fa"></i></div>
                                            </div>
                                            <div class="displayTableCell">
                                                <span class="colorMotive">190$</span>
                                                <span class="textLineThrough">290$</span>
                                            </div>
                                            <div class="displayTableCell">
                                                <a href="#">
                                                    15 <i class="fa fa-user"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="productBox marginBottom30">
                                    <a href="course-single.html">
                                        <div class="productImage">
                                            <img alt="Product" src="ss" height="150">
                                        </div>
                                        <div class="productDescription">
                                            <h5 class="marginBottom10">Social Media Management</h5>
                                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
                                        </div>
                                    </a>
                                    <div class="productMeta">
                                        <div class="displayTableVertical">
                                            <div class="displayTableCell">
                                                <div data-rating="4" class="starrr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa-star-o fa"></i></div>
                                            </div>
                                            <div class="displayTableCell">
                                                <span class="colorMotive">190$</span>
                                                <span class="textLineThrough">290$</span>
                                            </div>
                                            <div class="displayTableCell">
                                                <a href="#">
                                                    15 <i class="fa fa-user"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="productBox marginBottom30">
                                    <a href="course-single.html">
                                        <div class="productImage">
                                            <img alt="Product" src="ss" height="150">
                                        </div>
                                        <div class="productDescription">
                                            <h5 class="marginBottom10">Social Media Management</h5>
                                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
                                        </div>
                                    </a>
                                    <div class="productMeta">
                                        <div class="displayTableVertical">
                                            <div class="displayTableCell">
                                                <div data-rating="4" class="starrr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa-star-o fa"></i></div>
                                            </div>
                                            <div class="displayTableCell">
                                                <span class="colorMotive">190$</span>
                                                <span class="textLineThrough">290$</span>
                                            </div>
                                            <div class="displayTableCell">
                                                <a href="#">
                                                    15 <i class="fa fa-user"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="productBox marginBottom30">
                                    <a href="course-single.html">
                                        <div class="productImage">
                                            <img alt="Product" src="ss" height="150">
                                        </div>
                                        <div class="productDescription">
                                            <h5 class="marginBottom10">Social Media Management</h5>
                                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
                                        </div>
                                    </a>
                                    <div class="productMeta">
                                        <div class="displayTableVertical">
                                            <div class="displayTableCell">
                                                <div data-rating="4" class="starrr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa-star-o fa"></i></div>
                                            </div>
                                            <div class="displayTableCell">
                                                <span class="colorMotive">190$</span>
                                                <span class="textLineThrough">290$</span>
                                            </div>
                                            <div class="displayTableCell">
                                                <a href="#">
                                                    15 <i class="fa fa-user"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="productBox marginBottom30">
                                    <a href="course-single.html">
                                        <div class="productImage">
                                            <img alt="Product" src="ss" height="150">
                                        </div>
                                        <div class="productDescription">
                                            <h5 class="marginBottom10">Social Media Management</h5>
                                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
                                        </div>
                                    </a>
                                    <div class="productMeta">
                                        <div class="displayTableVertical">
                                            <div class="displayTableCell">
                                                <div data-rating="4" class="starrr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa-star-o fa"></i></div>
                                            </div>
                                            <div class="displayTableCell">
                                                <span class="colorMotive">190$</span>
                                                <span class="textLineThrough">290$</span>
                                            </div>
                                            <div class="displayTableCell">
                                                <a href="#">
                                                    15 <i class="fa fa-user"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="productBox marginBottom30">
                                    <a href="course-single.html">
                                        <div class="productImage">
                                            <img alt="Product" src="ss" height="150">
                                        </div>
                                        <div class="productDescription">
                                            <h5 class="marginBottom10">Social Media Management</h5>
                                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
                                        </div>
                                    </a>
                                    <div class="productMeta">
                                        <div class="displayTableVertical">
                                            <div class="displayTableCell">
                                                <div data-rating="4" class="starrr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa-star-o fa"></i></div>
                                            </div>
                                            <div class="displayTableCell">
                                                <span class="colorMotive">190$</span>
                                                <span class="textLineThrough">290$</span>
                                            </div>
                                            <div class="displayTableCell">
                                                <a href="#">
                                                    15 <i class="fa fa-user"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="productBox marginBottom30">
                                    <a href="course-single.html">
                                        <div class="productImage">
                                            <img alt="Product" src="ss" height="150">
                                        </div>
                                        <div class="productDescription">
                                            <h5 class="marginBottom10">Social Media Management</h5>
                                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
                                        </div>
                                    </a>
                                    <div class="productMeta">
                                        <div class="displayTableVertical">
                                            <div class="displayTableCell">
                                                <div data-rating="4" class="starrr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa-star-o fa"></i></div>
                                            </div>
                                            <div class="displayTableCell">
                                                <span class="colorMotive">190$</span>
                                                <span class="textLineThrough">290$</span>
                                            </div>
                                            <div class="displayTableCell">
                                                <a href="#">
                                                    15 <i class="fa fa-user"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="productBox marginBottom30">
                                    <a href="course-single.html">
                                        <div class="productImage">
                                            <img alt="Product" src="ss" height="150">
                                        </div>
                                        <div class="productDescription">
                                            <h5 class="marginBottom10">Social Media Management</h5>
                                            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean .</span>
                                        </div>
                                    </a>
                                    <div class="productMeta">
                                        <div class="displayTableVertical">
                                            <div class="displayTableCell">
                                                <div data-rating="4" class="starrr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa-star-o fa"></i></div>
                                            </div>
                                            <div class="displayTableCell">
                                                <span class="colorMotive">190$</span>
                                                <span class="textLineThrough">290$</span>
                                            </div>
                                            <div class="displayTableCell">
                                                <a href="#">
                                                    15 <i class="fa fa-user"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!--product slider end-->

